experiments

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
np.linspace(1,10,10)

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.])

In [23]:
df1 = pd.DataFrame({'a':np.ones(10),'b':np.linspace(1,10,10)**2})

In [24]:
df1.plot(colormap=,title=)

     a      b
0  1.0    1.0
1  1.0    4.0
2  1.0    9.0
3  1.0   16.0
4  1.0   25.0
5  1.0   36.0
6  1.0   49.0
7  1.0   64.0
8  1.0   81.0
9  1.0  100.0